html{
	position: relative;
	margin: 0 auto;
	min-height: 100vh;
	background-color: #bcbcbc;
	font-family: 'Roboto';
	font-weight: 300;
}

body{
	margin: 0;
}

h1{
	font-weight: 300;
	margin: auto;
}

header{
	text-align: center;
	position: relative;
	margin: 0;
	background-color: black;
}
/* generic styling */

.main_heading{
	padding: 20px;
}

.home_link{
	text-decoration: none;
	color: white;
	cursor: pointer;
}


.xyz{
	color: white;
	font-size: 10px;
	transition: .25s
}

.navigation{
	position: relative;
	display: flex;
	z-index: 100;
	width: auto;
	padding: 10px 0;
	margin: 0 20px;
}

.navi_left{
	position: relative;
	width: 75%;
	text-align: center;
}

.navi_right{
	position: relative;
	width: 25%;
}

.navi_main_drop{
	color: white;
	text-align: left;
	display: none;
	font-size: 20px;
	padding: 4px 0;
}

.search{
	display: flex;
	text-align: center;
	border: none;
	margin: 0;
	height: 100%;	
	width: 100%;
	border-radius: 50px;
	box-shadow: 0 0 10px grey;
}

.s_field{
	border: none;
	width: 80%;
	text-align: center;
	padding: 10px 0; 
	border-radius: 50px 0px 0px 50px;	
}

.s_button{
	width: 20%;
	height: 100%;
	border-radius: 0 50px 50px 0;
	border: none;
	cursor: pointer;
	transition: .25s;
}

.s_button:hover{
	background-color: grey;
	color: white;
}

.main_navi{
	padding: 0;
	margin: 0 auto;
}

.main_navi .mn_item{
	font-size: 16px;
	display: inline-block;
	list-style-type: none;
	padding: 7px 20px;
}

.main_navi .mn_search{
	display: none;
}

.main_navi .mn_item a{
	color: white;
	text-decoration: none;
	padding: 20px;
}

.main_navi .mn_item a:hover{
	color: lightgrey;
}


.main_navi .mn_item .nav_twitter:hover{
	color: #1DA1F2;
}

.home_body{
	position: relative;
	display: flex;
	min-height: 600px; /*temporary*/
	z-index: 0;
	width: auto;
	margin: 20px;
	box-shadow: 0 0 10px grey;
}

.hb_main{
	position: relative;
	display: flex;
	height: inherit;
	width: 75%;
	background-color: #f9f9f9;
}

.hb_sidepanel{
	position: relative;
	display: flex;
	height: inherit;
	width: 25%;
	background-color: white;
}

.coming_soon{
	justify-content: center;
	align-items: center;
	text-align: center;
}


@media only screen
and (max-width: 1286px){
	/* for dropdown menu */
	.main_navi .mn_item{
		padding: 7px 15px;
	}
}

@media only screen
and (max-width: 1085px){
	/* for dropdown menu */
	.main_navi .mn_item{
		padding: 7px 0px;
	}

	.hb_main{
		width: 100%;
	}

	.hb_sidepanel{
		display: none;
	}
}

@media only screen
and (max-width: 882px){
	.navigation{
		padding: 10px 0;
		height: 33.5px;
	}

	.navi_main_drop{
		position: absolute;
		height: 35px;
		color: white;
		text-align: left;
		display: block;
		cursor: pointer;
	}

	.navi_main_drop:hover + .main_navi{
		height: 215px;
	}

	.main_navi:hover{
		height: 215px;
	}

	.main_navi{
		position: absolute;
		top: 43px;
		left: -20px;
		width: 100vw;
		background-color: black;
		height: 0;
		transition: .25s;
		overflow: hidden;
	}

	.main_navi .mn_item{
		text-align: left;
		display: block;
	}

	.mn_search{
		display: block;
	}

	.navi_right{
		display: none;
	}

	.search{
		text-align: center;
		height: 30px;
	}

	.s_button:hover{
		background-color: grey;
		color: white;
	}

}