html{
	position: relative;
	margin: 0 auto;
	min-height: 100vh;
	background-color: #bcbcbc;
	font-family: 'Roboto';
	font-weight: 300;
}

body{
	margin: 0;
}

h1{
	font-weight: 300;
	margin: auto;
}

header{
	text-align: center;
	position: relative;
	margin: 0;
}
/* generic styling */

.main_heading{
	padding: 20px;
}

.home_link{
	text-decoration: none;
	color: black;
}

.ThatWightGuy_h1{
	transition: .25s
}

.xyz{
	color: white;
	font-size: 10px;
	transition: .25s
}

.home_link:hover > .ThatWightGuy_h1{
	color: white;
}

.home_link:hover > .xyz{
	color: black;
}


.navigation{
	position: relative;
	display: flex;
	z-index: 100;
	width: auto;
	margin: 0 20px;
}

.navi_left{
	position: relative;
	width: 75%;
	text-align: center;
}

.navi_right{
	position: relative;
	width: 25%;
}

.search{
	display: flex;
	text-align: center;
	border: none;
	margin: 0;
	height: 100%;	
	width: 100%;
	border-radius: 50px;
	box-shadow: 0 0 10px grey;
}

.s_field{
	border: none;
	width: 80%;
	text-align: center;
	border-radius: 50px 0px 0px 50px;	
}

.s_button{
	width: 20%;
	height: 100%;
	border-radius: 0 50px 50px 0;
	border: none;
	cursor: pointer;
	transition: .25s;
}

.s_button:hover{
	background-color: grey;
	color: white;
}

.main_navi{
	padding: 0;
	margin: 0 auto;
}

.main_navi .mn_item{
	font-size: 20px;
	display: inline-block;
	list-style-type: none;
	padding: 5px 20px;
}

.main_navi .mn_item a{
	color: white;
	text-decoration: none;
	padding: 20px;
	transition: .25s;
}

.main_navi .mn_item a:hover{
	color: black;
}

.main_navi .mn_item .nav_twitter:hover{
	color: #1DA1F2;
}

.home_body{
	position: relative;
	display: flex;
	min-height: 600px; /*temporary*/
	z-index: 0;
	width: auto;
	margin: 20px;
	box-shadow: 0 0 10px grey;
	border-radius: 25px;
}

.hb_main{
	position: relative;
	display: flex;
	height: inherit;
	width: 75%;
	background-color: #f9f9f9;
	border-radius: 25px 0 0 25px;
}

.hb_sidepanel{
	position: relative;
	display: flex;
	height: inherit;
	width: 25%;
	background-color: white;
	border-radius: 0 25px 25px 0;
}

.coming_soon{
	justify-content: center;
	align-items: center;
	text-align: center;
}


@media only screen
and (min-width: 650px){
	/* for dropdown menu */

}